.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
lectures/*/*.html
lectures/*/libs/*
lectures/*/slides_files/*
lectures/index.html

lectures/*/lecture.Rmd
lectures/*/lecture.nb.html
temp/

lectures/exams/final2021/*
*.icloud

__MACOSX/
*.zip

*.nb 2.html
*.nb 3.html
*.nb 4.html
*.nb 5.html
*.nb 6.html
*.nb 7.html

*.nb [0-9].html
*.nb [0-9][0-9].html


