h1 {
  color: rgb(251,116,28);
}

.sectionTitle {
  background-image: url("images/contour.png");
  background-position: right;
  background-size: auto;
  vertical-align: middle;
}

.sectionTitle h1 {
  font-size: 102px;
}

.remark-slide-number {
  font-size: 14px;
  opacity: 0.25;
}

.red { 
  color: red; 
}


