body {
  background-image: url("https://live.staticflickr.com/65535/50367566131_85c1285e2f_o_d.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
}

h1 {
  color: rgb(251,116,28);
}

a {
  color: rgb(87,114,127);
  font-weight: bold;
}

a.hover {
  color: rgb(251,116,28);
}

.title h1 {
  font-size: 28pt;
}

caption {
  font-size: 10pt;
  color: grey;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: rgb(251,116,28);
    border-color: rgb(251,116,28);
}