:root {
  --color-blue: #082D55; /* blue */
  --color-orange: #EC9A29; /* orange */
  --color-green: #0F8B8D; /* lime */
  --color-yellow: #FDD545; /* yellow */
  --color-red: #A8201A; /* red */
  --color-black: #1a1917; /* black was #1a1917 */
  --color-darkgreen: #262923; /* Dark green for inverse */
  --color-lightgray: #dad2d8;
}

.large { 
  font-size: 160%;
}

.black {
  color: "black";
  font-size: 200%;
  font-weight: 700;
}

.white {
  color: "white";
  font-size: 200%;
  font-weight: 700;
}


.yellow {
  color: var(--color-yellow);
  font-size: 200%; 
  font-weight:700;
}

.blue {
  color: var(--color-blue);
  font-size: 200%; 
  font-weight:700;
}

.orange {
  color: var(--color-orange);
  font-size: 200%; 
  font-weight:700;
}

.green {
  color: var(--color-green);
  font-size: 150%;
  font-weight:700;
}

.darkgreen { 
  color: var(--color-darkgreen);
  font-size: 150%;
  font-weight:700;
}

.red {
  color: var(--color-red);
  font-size: 200%;
  font-weight:700;
}

.blueinline {
  color: var(--color-blue);
}

.orangeinline {
  color: var(--color-orange);
}

.greeninline {
  color: var(--color-green);
}

.redinline {
  color: var(--color-red);
}

.yellowinline {
  color: var(--color-yellow);
}


/* highlighted code */

.remark-code-line-highlighted {
  background-color: rgba(97, 172, 240, .5);
}

/* in line code */

.remark-code, .remark-inline-code {
  color: var(--color-red);
  font-size: 80%;
}

/* from emi tanaka's ninjutsu css! */

.img-fill img { object-fit: fill; height:100%; width:100%; overflow: hidden;}
.img-contain img { object-fit: contain; height:100%; width:100%;  overflow: hidden}
.img-cover img { object-fit: cover; height:100%; width:100%;  overflow: hidden}
.img-none img { object-fit: none; height:100%; width:100%; }



body {
  background-color: var(--color-lightgray);
}


body h1 {
  color: var(--color-blue);
}

.inverse {
  background-color: var(--color-blue);
  text-shadow: 0 0 0;
}



/* links */
					 
a,
a:visited {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-blue);
  box-shadow: inset 0 -2px 0 var(--color-blue);
}

a:hover,
a:focus {
  color: var(--color-black);
  background: rgba(97, 172, 240, .5);
  border-bottom: none;
}

a > code {
  color: var(--color-red);
  text-decoration: none;
}

.inverse a {
  color: #FFF;
}

.remark-inline-code {
  color: var(--color-red);
  text-decoration: none;
}

/* from the hygge css! */

.polaroid img {
    display: block; 
    width: inherit; 
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}

/* footer */

div.my-footer {
    background-color: #1a1917;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

.remark-slide-number {
  bottom: 18px;
  opacity: 0.5;
  position: absolute;
  right: 20px;
}

img.circle {
  border-radius:50%;
}

/* split rows*/


.title-slide .remark-slide-number { 
  display: none; 
}

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  place-content: center;	
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.top-left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: var(--color-blue);
}

.top-right {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: var(--color-orange);
}

.bottom-left {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: var(--color-green);
}

.bottom-right {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  background-color: var(--color-red);
}

/* https://stackoverflow.com/questions/50919104/horizontally-scrollable-output-on-xaringan-slides */

pre {
  background: #f8f8f8; /* match github highlightjs */
  max-width: 100%;
  overflow-x: auto;
}

img.lil {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.sectionTitle {
  background-image: url("https://live.staticflickr.com/65535/50583471272_e8b9c46648_c_d.jpg");
  background-position: right;
  background-size: cover;
  vertical-align: middle;
}

.sectionTitle h1 {
  font-size: 102px;
}

.remark-slide-number {
  font-size: 14px;
  opacity: 0.25;
}



